* {
    margin: 0;
    padding: 0;
}
body {
     background-color: skyblue;
     color: darkolivegreen;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a{
    display: inline-block;
    background-color: saddlebrown;
    color: goldenrod;
    margin-right: 1px;
    padding: 0.5rem;
}
nav a.selected{
    background-color: brown;
    color:gold;
}
nav {
    background-color: black;
}
